<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Accueil</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Authors</a>
</li> -->
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<!-- <li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-wordpress/">WP</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">Ghost</a>
</li> -->
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/donate.html"><button class="button-18" role="button">Faire un don</button></a>
</li> -->
<li class="nav-item">
<div id="donate-button-container">
    <div id="donate-button"></div>
    <script src="https://www.paypalobjects.com/donate/sdk/donate-sdk.js" charset="UTF-8"></script>
    <script>
    PayPal.Donation.Button({
    env:'production',
    hosted_button_id:'WY37N36CJ7FQG',
    // image: <button class="button-18" role="button">Faire un don</button>,
    image: {
    // src:'https://pics.paypal.com/00/s/OTJmZTg5NGItYTgzOS00NjBmLWFjMzItMTU1MjJkMDIyYmM3/file.PNG',
    src:'/assets/images/bouton.svg',
    alt:'Bouton Faites un don avec PayPal',
    title:'PayPal - The safer, easier way to pay online!',
    }
    }).render('#donate-button');
    </script>
    </div>    
</li>


